<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Historia wizyt</h5>
        <p class="card-text">Kliknij przycisk poniżej, aby zobaczyć historię</p>
        <a href="#" class="btn btn-primary">Zobacz więcej</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Najbliższa wizyta</h5>
          <table class="table table-bordered">
              <thead>
              <tr>
                  <th>Lekarz</th>
                  <th>Data i godzina</th>
                  <th>Akcje</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                  <td>Jan Kowalski <span class="badge text-bg-secondary">Dermatolog</span> </td>
                  <td>2024-08-01 15:40</td>
                  <td>Odwołaj</td>
              </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
</div>