<div class="container">
  <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
    <div class="col mb-3">
        {% include 'logo/logo_white.html' %}
      <p class="text-body-secondary">© 2024</p>
    </div>

    <div class="col mb-3">

    </div>

    <div class="col mb-3">
      <h5>O nas</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">o nas</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Personel medyczny</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Dostępne zabiegi</a></li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Kontakt</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Formularz kontaktowy</a></li>
          <li class="nav-item mb-2"><a href="mailto:kontakt@clinicontrol.pl">kontakt@clinicontrol.pl</a></li>
        <li class="nav-item mb-2">123456789</li>
      </ul>
    </div>

    <div class="col mb-3">
      <h5>Inne</h5>
      <ul class="nav flex-column">
                  <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Polityka prywatności</a></li>

        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Informacja RODO</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Dla mediów</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pracuj z nami</a></li>
      </ul>
    </div>
  </footer>
</div>